.Word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 200px;
  font-size: 4em;
  border-radius: 3em;
  font-weight: bold;
  border: 5px solid rgb(93, 86, 158);
  background-color: rgb(34, 37, 66);
}

.Game-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.Game-btn-container button {
  color: white;
  font-size: 1.1em;
  font-weight: bolder;
  width: 25%;
  height: 60px
}

#back {
  background-color: rgb(207, 195, 84);
}

#pass {
  background-color: rgb(218, 75, 75);
}

#done {
  background-color: rgb(72, 146, 73);
}